body{
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.849);
}

.container{
    max-width: 60%;
    margin: 70px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.411);
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    border-radius: 10px;
}

h1,h2,p{
    color: rgb(255, 255, 255);
}

input[type="text"]{
    padding: 10px;
    font-size: 16px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.801);
    border: none;
    border-radius: 10px;
    color: white;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.801);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(253, 253, 253, 0.253);
    color: rgb(0, 255, 0);
}

#responseData{
    margin-top: 20px;
    font-size: 18px;
}